*{
    margin: 0px ;
    /* border: 1px solid red; */
}



/* font-style */


.noto-serif-1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}






/* display-flex */
.display-flex{
    display: flex;
}


/* header 1st part */
.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 570px;
    margin-bottom: 120px;

}
.img-1{
    width: 100px;
    height: 70px;
    margin-left: 80px;
}
.ul-design{
    display: flex;
    list-style: none;
    
    padding: 15px 40px 15px 40px;
    gap: 40px;
}
nav ul li a{
    text-decoration: none;
    
}
.Home{
    color: #252432;

}
.shop{
    color: #8987A1;
}
.cart{
    color: #000000;
    position: relative;
    right: 32px;
    
    
}
.cart2{
    width: 20px;
    height: 25px;

}
/* banner-part */
.banner{
    display: flex;
    
    margin-left: 150px;
    margin-right: 150px;
    
}
.ALWAYS{
    font-weight: bold;
    font-size: 65px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    gap: 25px;
}
.Fresh{
    color: #E95A08;
    font-weight: bold;
    font-size: 65px;


}
.Indulge{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}


/* main-part */

/* our-plants */
.Our-plants{
    color: #E95A08;
    font-size: 50px;
    font-weight: bold;
}
.Plants{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}
.Indulge-2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400px;

}
.our-plant-head{
    text-align: center;
    margin-top: 120px;
    font-size: 22px;
    font-weight: 400px;
    
}

/* card-design */
.Lily{
    font-weight: 500px;
    font-size: 22px; 
    color: #111111;
    text-align: center;
    
    
}
.word{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    

}
.add-to{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border-color: #E95A08;
}
.card-design{
    border: 1px solid white;
    
}
.Card-head{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px 150px 80px 95px;
    gap: 20px;
}
/*  Plants Lover Section*/
.img-design{
    /* border: 1px solid red; */
    display: flex;
}
.img-4{
    width: 540px;
    height: 597px;

}
.img-5{
    width: 286px;
    height: 286px;
    position: relative;
    left: -170px;
    top: -100px;

}
.Flower-lover{
    display: flex;
    
    
    
}
.full-design{
    max-width: 1140px;
    /* border: 1px solid green; */
    margin-top: 210px;
    margin: 210px 150px 130px 150px;

}
.Flower-design{
    width: 600px;
    height: 310px;
    /* border: 1px solid yellow; */
    position: relative;
    left: -235px;
    bottom: -140px;
    

    
    

}

/* next */
.plants-2{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}
.Indulge-3{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400px;
}
.list-class{
    gap: 10px;
    width: 400px;
    

}
/*  Latest  Deals -section*/

.Latest-Deals{
    text-align: center;
    margin-bottom: 120px;
}
.Latest{
    color: #E95A08;
    font-size: 50px;
    font-weight: bold;
}
.Deals{
    color: #000000;
    font-size: 50px;
    font-weight: bold;

}
/* banner */
.Bloom-Plant-1{
    width: 300px;
    height: 72px;
    background-image: url(./assets/deal-bloom.png);
    text-align: center;
    padding: 65px 45px 60px 2px;
    background-repeat: no-repeat;
    border-radius: 14px;
    
    margin-bottom: 25px;
    
}
.off{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.Shop-Now{
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600px;
}
.Ana-plant{
    width: 300px;
    height: 72px;
    background-image: url(./assets/deal-ana.png);
  
    text-align: center;
    padding: 65px 45px 60px 2px;
    background-repeat: no-repeat;
    border-radius: 14px;

}

.Zabo-plant{
    width: 420px;
    height: 85px;
    background-image: url(./assets/deal-zabo.png);
    text-align: center;
    border-radius: 22px;
    padding: 170px 117px 170px 147px;
    background-repeat: no-repeat;
}
.Plant-design{
    display: flex;
    gap: 25px;
    margin: 120px 150px 120px 150px;
}
.Zabo{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}
.shop-2{
    font-weight: 600px;
    font-size: 28px;
    text-decoration: underline;
    color: #FFFFFF;

}

/* last-section */
.colorful-Bunch{
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    height: 530px;
    text-align: center;
    
}
.Join-the{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    position: relative;
    bottom: -220px;
}
.email{
    width: 640px;
    height: 50px;
    position: relative;
    bottom: -240px;
}
.Subscribe{
    width: 200px;
    background-color: #E95A08;
    color: #FFFFFF;
    height: 55px;
    padding: 15px;
    border-color: #E95A08;
    position: relative;
    bottom: -240px;
}

/* footer-style */
































